* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background: url(../img/pattern1.png) repeat;
}

canvas#game {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 1024px;
    height: 768px;
    background-color: gray;
    cursor: crosshair;
}

#preloader {
    display: block;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-width: 1000px;
    background: #AC542C url(../img/spinner.gif) center center no-repeat;
    background-size: 41px;
}
